.pieceOfArt {
    border: 1px dashed #FFE381;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #FFE381, 0 0 0 10px #fff, 0 0 2px 10px #FFE381;
    padding: 40px;
}

.pieceOfArt img {
    max-width: 100%;
    display: block;
}